body.dark-mode {
    background-color: #020617;
}

.dark-mode .header-app {
    background-color: #0F172A;
}

.dark-mode .sticky-header-app {
    background-color: #0F172A;
}

.dark-mode .header-app .header-app-logo .onetap-logo {
    filter: invert(92%);
}

.dark-mode .sticky-header-app .header-app-logo .onetap-logo {
    filter: invert(92%);
}

.dark-mode .header-burger {
    color: var(--white);
}

.dark-mode .header-app .header-left-arrow {
    border-color: var(--white);
}

.dark-mode .header-app-logo {
    color: var(--white);
}

.dark-mode .header-app .nav ul li a {
    color: var(--white);
}

.dark-mode .sticky-header-app .nav ul li a {
    color: var(--white);
}

.dark-mode .header-app .nav ul li a:hover {
    color: var(--pseudo);
}

.dark-mode .sticky-header-app .nav ul li a:hover {
    color: var(--pseudo);
}

.dark-mode .theme-icon {
    filter: invert(92%) sepia(0%) saturate(100%) hue-rotate(180deg);
}

.dark-mode .theme-title {
    background-color: var(--white);
    color: var(--black);
}

.dark-mode .sticky-header-theme-title {
    background-color: var(--white);
    color: var(--black);
}

.dark-mode .theme-drop-down {
    background-color: var(--darker);
}

.dark-mode .theme-drop-down .drop-down {
    filter: invert(92%) sepia(0%) saturate(100%) hue-rotate(180deg);
}

.dark-mode .content-app .left .text {
    color: var(--white);
}

.dark-mode .content-app .left .content-button {
    color: var(--white);
    border-color: var(--white);
}

.dark-mode .content-app .left .content-button:hover {
    background-color: var(--white);
    color: var(--black);
}

.dark-mode .content-app .right img {
    filter: invert(92%);
}

.dark-mode .about-app {
    color: var(--white);
}

.dark-mode .about-app .right .about-images {
    border: 1px solid var(--white);
}

.dark-mode .products-app .product-card {
    border-color: var(--semi_white);
}

.dark-mode .product-card .product-name {
    color: var(--white);
}

.dark-mode .product-card .description {
    color: #CBD5E1;
}

.dark-mode .product-card .price {
    color: var(--semi_white);
}

.dark-mode .help-app {
    color: var(--white);
}

.dark-mode .help-app .contact-us-button {
    border-color: var(--white);
}

.dark-mode .help-app .contact-us-button:hover {
    background-color: var(--white);
    color: var(--black);
}