@media only screen and (max-width: 1017px) {
    .header-burger {
        display: block !important;
    }

    .header-app .header-left-arrow {
        display: block !important;
    }

    .sticky-header-app {
        display: none !important;
    }

    .header-app {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        justify-content: space-between !important;
        flex-direction: column;
        width: 0 !important;
        overflow: hidden;
        visibility: hidden;
        height: 100%;
        opacity: 0;
        transition: .4s ease;
    }

    .header-app.active {
        visibility: visible;
        width: 200px !important;
        opacity: 1;
    }

    .header-app .header-app-logo .onetap-logo {
        width: 30px !important;
    }

    .header-app .header-app-logo .netap {
        font-size: 40px;
    }

    .header-app .nav ul {
        flex-direction: column;
        gap: 70px;
    }

    .header-app .theme-drop-down {
        margin-top: -150px;
        margin-left: -50px;
        inset: 0;
    }

    .header-app .theme-title {
        display: none;
    }

    .about-app .right {
        max-width: 300px !important;
    }

    .about-app .left {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 543px) {
    body {
        padding: 20px 25px;
    }
}