.loading-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    backdrop-filter: blur(100px);
  }
  
  .loading-circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid var(--white);
    border-top: 10px solid var(--pseudo);
    animation: spin 1s linear infinite;
  }
  
  .percent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: var(--white);
    font-weight: bold;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  